<div class="small-container">
        <h2>Add item</h2>
        <form name="newItemForm" class="new-contact-form" ng-submit="addTodo(newTodo)" novalidate>
            <div class="input-container">
                <label for="todo-body" class="label-reqired">Todo</label>
                <textarea id="todo-body" name="todoText" ng-model="newTodo.todoText" ng-required="true" custom-validator="20"></textarea>
            </div>
            <div class="row">
                <div class="input-container">
                    <label for="assignee-name" class="label-reqired">Assignee Name</label>
                    <input type="text" name="assigneeName" id="assignee-name" ng-required='true' ng-minlength="2" ng-model="newTodo.assignee" />
                </div>
                <div class="input-container">
                    <label for="duration" class="label-reqired">Time for implementation (min)</label>
                    <input type="number" id="duration" name="todoDuration" ng-required="true" min="5" max="1000" ng-model="newTodo.duration" />
                </div>
            </div>
            <div class="submit-container">
                <a class="btn btn_link" ui-sref="home">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                     Back
                 </a>
                <input class="btn btn_submit" type="submit" value="Add todo">
            </div>
        </form>
    </div>
    