<div ng-controller="toDoController">
    <div class="container">
        <div ui-view></div>
    </div>
    <div>
        <div class="form-group">
            <label for="srch">Search:</label>
            <input type="text" class="form-control" id="srch" ng-model="searchText" />
        </div>
        <div class="form-group">
            <label for="srch-by">Search By:</label>
            <select class="form-control" id="srch-by">
                <option value="text">Text</option>
                <option value="dateCreation">Creation date</option>
            </select>
        </div>

        <h3>New ({{ activeTasks.length }}) items</h3>
        <span ng-if="tasks.length === 0">You have no active tasks!</span>
        <ul ng-repeat="task in activeTasks | filter:searchTodoItems | orderBy:'dateCreation':false:orderByDay">
            <li style="list-style-type: none">
                <div class="alert alert-info">
                    <div>
                        <p>{{task.text}}</p>
                        <div>
                            <span>Creation date: {{task.dateCreation}}</span>
                        </div>
                    </div>

                    <div>
                        <div>
                            <input type="checkbox" id="todo-done-{{task.id}}" ng-model="task.isDone" ng-change="markDone()" />
                        </div>
                        <div>
                            <a ui-sref="edit({ id: task.id })">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>>
</div>