<form action="/user/register" method="post">
    <div>
        <label>First name:</label>
        <input type="text" name="firstName"/>
    </div>
    <div>
        <label>Last name:</label>
        <input type="text" name="lastName"/>
    </div>
    <div>
        <label>Login:</label>
        <input type="text" name="login"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>
