extends layout

block content
    #root!= html
    script.
        // WARNING: See the following for security issues around embedding JSON in HTML:
        // http://redux.js.org/docs/recipes/ServerRendering.html#security-considerations
        window.PRELOADED_STATE = !{JSON.stringify(preloadedState).replace(/</g, '\\u003c')}

    script(type='text/javascript', src='/assets/bundle.js')
