<div>
    <div>
        <h3>Amount of articles: {{ $ctrl.amount }}</h3>
        <span ng-if="$ctrl.amount === 0">You have no articles!</span>
        <ul ng-repeat="article in $ctrl.articles | paginationFilter: current * pageSize | limitTo: pageSize ">
            <li>
                <div class="alert alert-success">
                    <label>{{ article.title }}</label>
                    <label>{{ article.date }}</label>
                    <label>{{ article.text }}</label>
                </div>
                <div>
                    <a ng-click="$ctrl.edit(article.id)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <pagination-component total="$ctrl.amount"></pagination-component>
</div>