.post {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    transition: color .3s;
    margin-bottom: 20px;
    display: flex;
    overflow: hidden;
  
    &__remove {
      display: none;
      position: relative;
      align-self: center;
      margin-right: 12px;
      position: relative;
      left: -12px;
      transition: left .3s;
      cursor: pointer;
  
      .post--with-author & {
        display: block;
      }
    }
  
    &__data {
      position: relative;
      left: 9px;
      .post--with-author & {
        left: -12px;
        transition: left .3s;
      }
    }
  
    &.post--with-author:hover &__data {
      left: 0;
    }
  
    &.post--with-author:hover &__remove {
      left: 0;
    }
  
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  
    &__author {
      font-size: 12px;
      opacity: 0.8;
    }
  }
  