<div>
    <select class="form-control" id="size" ng-model="pgnCtrl.size">
        <option value="ten">10</option>
        <option value="twenty">20</option>
        <option value="fifty">50</option>
    </select>
    <ul class="pagination" ng-if="1 < pgnCtrl.pages.length">
    	<li ng-if="boundaryLinks" ng-class="{ disabled: $ctrl.current == 1 }">
    		<a href="" ng-click="setCurrent(1)">First</a>    		
    	</li>
    	<li ng-if="boundaryLinks" ng-class="{ disabled: $ctrl.current == 1 }">
    		<a href="" ng-click="setCurrent($ctrl.current - 1)">Prev</a>    		
    	</li>

    	<li ng-repeat="pageNumber in pgnCtrl.pages track by $index" ng-class="{ active: $ctrl.current == pageNumber, disabled: pageNumber == '...' }">
    		<a href="" ng-click="setCurrent(pageNumber)">{{pageNumber}}</a>
    	</li>

    	<li ng-if="boundaryLinks" ng-class="{ disabled: $ctrl.current == $ctrl.last }">
    		<a href="" ng-click="setCurrent($ctrl.current + 1)">Next</a>    		
    	</li>
    	<li ng-if="boundaryLinks" ng-class="{ disabled: $ctrl.current == $ctrl.last }">
    		<a href="" ng-click="setCurrent($ctrl.last)">Last</a>    		
    	</li>
    </ul>
</div>



    <div>
        <input value="prev" type="button" ng-disabled="$ctrl.current == 0" ng-click="$ctrl.current = $ctrl.current- 1">
        <span>Page {{$ctrl.current + 1}} of {{ $ctrl.numberOfPages() }}</span>
        <input value="next" type="button" ng-disabled="$ctrl.current >= $ctrl.amount/$ctrl.pageSize - 1" ng-click="$ctrl.current = $ctrl.current + 1">       
    </div>