<div>
    <div>
        <h3>Amount of articles: {{ articlesCtrl.amount }}</h3>
        <span ng-if="articlesCtrl.amount === 0">You have no articles!</span>
        <ul ng-repeat="article in articlesCtrl.articles">
            <li>
                <div class="alert alert-success">
                    <label>{{ article.title }}</label>
                    <label>{{ article.date}}</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="text-center">
        <article-paginator></article-paginator>
    </div>
</div>